<div class="col-md-6 user-container">
  <mat-label><h2 class="text-center center">Edit User</h2></mat-label>
  <hr />
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username" name="username" id="username">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="CPF" formControlName="cpf" name="cpf" id="cpf" mask='000.000.000-99' clean='true'>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" name="email" id="email">
      </mat-form-field>
    </div>
    
    <div class="form-group">
      <mat-form-field>
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" 
        placeholder="Birthdate" formControlName="birthdate" name="birthdate" id="birthdate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label for="genre">Genre</mat-label>
        <mat-select formControlName="genre" name="genre" id="genre">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let genre of genres" [value]="genre">{{genre}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Birthplace" formControlName="birthplace" name="birthplace" id="birthplace">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Country" formControlName="country" name="country" id="country">
      </mat-form-field>
    </div>

    <button mat-stroked-button color="accent">Update</button>
  </form>
</div>