<div class="col-md-6 user-container">
  <h2 class="text-center center">Edit User</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="username">User Name:</label>
      <input type="text" formControlName="username" name="username" class="form-control"
        id="username">
    </div>

    <div class="form-group">
      <label for="cpf">CPF:</label>
      <input type="text" formControlName="cpf" name="cpf" class="form-control" id="cpf">
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" formControlName="email" name="email" class="form-control" id="email">
    </div>

    <div class="form-group">
      <label for="bithdate">Bithdate:</label>
      <input type="date" formControlName="bithdate" name="bithdate" class="form-control"
        id="bithdate">
    </div>

    <div class="form-group">
      <label for="genre">Genre:</label>
      <select formControlName="genre" class="form-control" name="genre" id="genre">
        <option *ngFor="let genre of genres" [value]="genre.value">{{genre.viewValue}}
      </select>
    </div>

    <div class="form-group">
      <label for="birthplace">Birthplace:</label>
      <input type="text" formControlName="birthplace" name="birthplace" class="form-control"
        id="birthplace">
    </div>

    <div class="form-group">
      <label for="nationality">Nationality:</label>
      <input type="text" formControlName="nationality" name="nationality" class="form-control"
        id="nationality">
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>