<div class="col-md-6 user-container">
  <mat-label><h2 class="text-center center">User Details</h2></mat-label>
  <hr />
  <div *ngIf="user">
    <div>
      <mat-label><b>Username: </b></mat-label> {{user.username}}
    </div>
    <div>
      <mat-label><b>CPF: </b></mat-label> {{user.cpf | mask:"000.000.000-99"}}
    </div>
    <div>
      <mat-label><b>Email: </b></mat-label> {{user.email}}
    </div>
    <div>
      <mat-label><b>Birthdate: </b></mat-label> {{user.birthdate | date:"dd/MM/yyyy"}}
    </div>
    <div>
      <mat-label><b>Genre: </b></mat-label> {{user.genre}}
    </div>
    <div>
      <mat-label><b>Birthplace: </b></mat-label> {{user.birthplace}}
    </div>
    <div>
      <mat-label><b>Country: </b></mat-label> {{user.country}}
    </div>
    <div>
      <mat-label><b>Registration: </b></mat-label> {{user.registration | date:"dd/MM/yyyy HH:mm:ss"}}
    </div>
    <div>
      <mat-label><b>Update: </b></mat-label> {{user.update | date:"dd/MM/yyyy HH:mm:ss"}}
    </div>
  </div>

  <br>
  <br>
  <button mat-stroked-button color="accent" (click)="list()">Back to User List</button>
</div>