.hidden {
  display: none;
}

.custom-container {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.custom-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  background: #212121;
}

.example-selected-value {
  margin: 15px 0;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}